<!DOCTYPE HTML>
<html>
	<head>
		<title>Efficient Conversation</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="{{ site.baseurl }}assets/css/noscript.css" /></noscript>
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">
							<span class="icon fa-diamond"></span>
						</div>
						<div class="content">
							<div class="inner">
								<h1>Efficient Conversation</h1>
								<p>We're just some friends who like to talk and play games.</p>
							</div>
						</div>
						<nav>
							<ul>
								{% for panel in site.panels %}
									{% if panel.title != "nolink" %}
									<li><a href="#{{ panel.html_id }}">{{ panel.title }}</a></li>
									{% endif %}
								{% endfor %}
							</ul>
						</nav>
					</header>

				{{ content }}

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Efficient Conversation.</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
			<script src="{{ site.baseurl }}/assets/js/skel.min.js"></script>
			<script src="{{ site.baseurl }}/assets/js/util.js"></script>
			<script src="{{ site.baseurl }}/assets/js/main.js"></script>

	</body>
</html>
